* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;

}
  
body {

    background: linear-gradient(135deg, #e0f2ff, #f8fff0);
    min-height: 100vh;

}



