* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;

}
  
body {

    background: linear-gradient(135deg, #e0f2ff, #f8fff0);
    min-height: 100vh;

}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
    background: linear-gradient(to right, #0ea5e9, #22c55e);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

}

.logo {

    font-size: 28px;
    font-weight: bold;
    color: white;

}
  
.logo span {

    color: #facc15;
    
}

